# Python artifacts
__pycache__/
*.py[cod]
*.env
.env.*
!.env.example
backend/gdrive_sa.json

# Poetry virtual environment folder
.venv/

# Docker
docker-compose.override.yml

# System files
.DS_Store
Thumbs.db
backend/gdrive_sa.json
